@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

html {
  font-size: 16px;
  --spacing: 25px;
  --headerHeight: 100px;
  --sidebarWidth : 260px;
  --sidebarWidthCollapsed: 80px;
  --positiveColor: #1CBD88;
  --negativeColor: #EF4444;
}

body {
  margin: 0;
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f9fafb; /* Задаем фон здесь, чтобы он был за пределами .main-content */
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.dashboard-layout {
  display: flex;
  background-color: #f9fafb;
}

h1 {
  font-size: 1.5rem;
}
h2, p {
  font-size: 1rem;
  color: #6B7280;
  font-weight: 400;
}

.capital-values { 
  font-size: 1.5rem; 
  font-weight: 700; 
  color: #111827; 
}

.medium-text {
  font-size: 1rem;
  font-weight: 500;
  color: #000;
}

.value-change {
  font-size: 0.875rem;
  font-weight: 400;
}
.value-change.positive {
  color: var(--positiveColor);
}
.value-change.negative {
  color: var(--negativeColor);
}

.widget-title {
  display: flex;
  gap: 5px;
  align-items: center;
}
.widget-title-icon-rect {
  padding: 5px;
  width: 25px;
  height: 25px;
  border-radius: 6px;
  background-color: #F6F6F6;
}

